@charset "utf-8";
/* CSS Document */

.form_table{
	border-collapse:collapse;/*属性设置表格的边框是否被合并为一个单一的边框*/
	width:800px;
}
.form_table th{
	border:1px solid black;
	background-color:#00FF00;
}
.form_table td{
	border:2px solid black;
    background-color:#DBEAF9;
}
