<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junyang.security.organization.dao.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.junyang.security.organization.model.Organization" >
    <id column="O_ID" property="oId" jdbcType="VARCHAR" />
    <result column="O_CODE" property="oCode" jdbcType="VARCHAR" />
    <result column="O_NAME" property="oName" jdbcType="VARCHAR" />
    <result column="O_PID" property="oPid" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <!--返回新的组织结构VO-->
  <resultMap id="OrganizationMap" type="com.junyang.security.organization.vo.OrganizationVo" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="pid" property="pId" jdbcType="VARCHAR" />
    <result column="pname" property="pName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    O_ID, O_CODE, O_NAME, O_PID, STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_ORGANIZATION
    where O_ID = #{oId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_ORGANIZATION
    where O_ID = #{oId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junyang.security.organization.model.Organization" >
  <!--使用javaUUID作为主键，使用ognl表达式（这个方法比较模糊）-->
  <bind name="javaUUID" value="@com.junyang.common.util.PrimaryKeyManager@getPrimaryKey()"/>
  insert into T_ORGANIZATION (O_ID, O_CODE, O_NAME, 
      O_PID, STATE)
    values (#{javaUUID,jdbcType=VARCHAR}, #{oCode,jdbcType=VARCHAR}, #{oName,jdbcType=VARCHAR}, 
      #{oPid,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.junyang.security.organization.model.Organization" >
    insert into T_ORGANIZATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        O_ID,
      </if>
      <if test="oCode != null" >
        O_CODE,
      </if>
      <if test="oName != null" >
        O_NAME,
      </if>
      <if test="oPid != null" >
        O_PID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oId != null" >
        #{oId,jdbcType=VARCHAR},
      </if>
      <if test="oCode != null" >
        #{oCode,jdbcType=VARCHAR},
      </if>
      <if test="oName != null" >
        #{oName,jdbcType=VARCHAR},
      </if>
      <if test="oPid != null" >
        #{oPid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junyang.security.organization.model.Organization" >
    update T_ORGANIZATION
    <set >
      <if test="oCode != null" >
        O_CODE = #{oCode,jdbcType=VARCHAR},
      </if>
      <if test="oName != null" >
        O_NAME = #{oName,jdbcType=VARCHAR},
      </if>
      <if test="oPid != null" >
        O_PID = #{oPid,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where O_ID = #{oId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junyang.security.organization.model.Organization" >
    update T_ORGANIZATION
    set O_CODE = #{oCode,jdbcType=VARCHAR},
      O_NAME = #{oName,jdbcType=VARCHAR},
      O_PID = #{oPid,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR}
    where O_ID = #{oId,jdbcType=VARCHAR}
  </update>
  <select id="selectOrganizations" resultMap="BaseResultMap" >
     select * from T_ORGANIZATION
  </select>
  <select id="selectOrganizationPage" resultMap="OrganizationMap" parameterType="com.junyang.security.organization.vo.QueryOrganizationVo">
       select 
	       t1.o_id as id,
	       t1.o_code as code,
	       t1.o_name as name,
	       t1.state  as state,
	       t1.o_pid  as pid,
	       t2.o_name as pname
       from t_organization t1
       left join t_organization t2  on t1.o_pid=t2.o_id
       <if test="queryOrganizationVo!=null">
       	<where>
       		<if test="queryOrganizationVo.queryCode!=null and queryOrganizationVo.queryCode!=''">and instr(t1.o_code,#{queryOrganizationVo.queryCode,jdbcType=VARCHAR})>0 </if>
       		<if test="queryOrganizationVo.queryName!=null and queryOrganizationVo.queryName!=''">and instr(t1.o_name,'#{queryOrganizationVo.queryName,jdbcType=VARCHAR})>0 </if>
       	</where>
       </if>
  </select>
  <select id="selectVoByPrimaryKey" resultMap="OrganizationMap" parameterType="java.lang.String">
       select 
	       t1.o_id as id,
	       t1.o_code as code,
	       t1.o_name as name,
	       t1.state  as state,
	       t1.o_pid  as pid,
	       t2.o_name as pname
       from t_organization t1
       left join t_organization t2  on t1.o_pid=t2.o_id
       where t1.o_id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>