<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.junyang.security.dao.PersonRoleMapper" >
  <resultMap id="BaseResultMap" type="com.junyang.security.model.PersonRole" >
    <id column="PR_ID" property="prId" jdbcType="VARCHAR" />
    <result column="R_ID" property="rId" jdbcType="VARCHAR" />
    <result column="P_ID" property="pId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PR_ID, R_ID, P_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from T_PERSON_ROLE
    where PR_ID = #{prId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_PERSON_ROLE
    where PR_ID = #{prId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.junyang.security.model.PersonRole" >
   	<!--使用javaUUID作为主键，使用ognl表达式（这个方法比较模糊）-->
  	<bind name="javaUUID" value="@com.junyang.common.util.PrimaryKeyManager@getPrimaryKey()"/>
    insert into T_PERSON_ROLE (PR_ID, R_ID, P_ID
      )
    values (#{javaUUID,jdbcType=VARCHAR}, #{rId,jdbcType=VARCHAR}, #{pId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.junyang.security.model.PersonRole" >
  <bind name="javaUUID" value="@com.junyang.common.util.PrimaryKeyManager@getPrimaryKey()"/>
    insert into T_PERSON_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
        PR_ID,
      <if test="rId != null" >
        R_ID,
      </if>
      <if test="pId != null" >
        P_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{javaUUID,jdbcType=VARCHAR},
      <if test="rId != null" >
        #{rId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        #{pId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.junyang.security.model.PersonRole" >
    update T_PERSON_ROLE
    <set >
      <if test="rId != null" >
        R_ID = #{rId,jdbcType=VARCHAR},
      </if>
      <if test="pId != null" >
        P_ID = #{pId,jdbcType=VARCHAR},
      </if>
    </set>
    where PR_ID = #{prId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.junyang.security.model.PersonRole" >
    update T_PERSON_ROLE
    set R_ID = #{rId,jdbcType=VARCHAR},
      P_ID = #{pId,jdbcType=VARCHAR}
    where PR_ID = #{prId,jdbcType=VARCHAR}
  </update>
  <delete id="deletePersonRoles" parameterType="java.lang.String" >
    delete from T_PERSON_ROLE
    where P_ID = #{0}  and  R_ID = #{1}
  </delete>
</mapper>